doctype html
html
    head
        meta(charset="utf=8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title ЭКОКУБ #{page.title}
        link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
        link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/manifest.json")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        meta(name="description" content=seo.description)
        meta(name="keywords" content=seo.keywords)
        link(rel="stylesheet" href="build.css")
        | <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26630844 = new Ya.Metrika({id:26630844, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26630844" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    body
        #application
            block content
    #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
        .slides
        h3.title
        a.prev ‹
        a.next ›
        a.close ×
        a.play-pause
        ol.indicator
    script(src="bower_components/blueimp-gallery/js/blueimp-gallery.min.js")
    script(src="gallery.js")
